//color pager Blog
.pagination > li > a
{
    background-color: white;
    color: #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #2583a0 !important;
    border: solid 1px #2583a0 !important;
}

.pagination > .active > a:hover
{
    background-color: #2583a0 !important;
    border: solid 1px #2583a0;
}

// portada del post
.portadaXl{
    background-image: url(../Img/fondoWebAlt_xl.webp);
    // background: url('/Img/postImg/hosting-servidoresXl.jpg');

}

.portadaMed {
    background-image: url('/Img/postImg/hosting-servidoresXl.jpg');
}

.circuloBull {
  list-style-type: circle;
}
