@font-face {
    font-family: fuenteGlobal;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: fuenteAlter;
    src: url(../fonts/Exo2-Regular.ttf);    
}

html{    
    height: 100%;
    scroll-behavior: smooth;
}

body{
    position: relative;
    font-family: fuenteAlter;
    height: 100%;
    margin: 0;
    padding: 0;
}

.active  {
  background-color: transparent !important;
}

.citasBlogFont {
    font-size: 0.7rem;
}

.logoBlancoMenu {
    width: 3%;
}

.logoDevAnt {
    width: 95%;
    height: 95%
}

.header .navbar {
  // background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);

}

.barraLogo {
    color: #fff;
    cursor: default;
}

.barra {
    color: #e0f0f0;
}

.barra:hover {
    color: #fff;
}

.dropdown-menu {
    background-color: transparent;
    border-color: #fff;    
}

.dropbar {
    color: #fff;
}

.togglerA {
    border: 1px solid white;
    color: #fff;
}

textarea {
    width: 100%;
    // height: 300px;
    box-sizing: border-box;
    resize: none;
}

.fondoTitulo {
    background-color: rgba(0, 144, 104, 0.7);
    width: 100%;
    transition: 0.5s ease;
}

.fondoTitulo.scrolled {
    background-color: transparent !important;
}

.relativo {
    position: relative;
    // border: 3px solid white;
}

.absoluto {
    position: absolute;
    top: 60%;
    right: 0px;
}

.titulo {    
    font-size: 48px;
    color: #fff;
    margin: 0px;
    text-align: center;
    // display: table-cell;
    vertical-align: middle;
    transition: 0.5s ease;
}

.titulo.scrolled{
    color: transparent !important;
}

.titulo2 {    
    font-size: 45px;
    margin: 0px;
    text-align: left;
    // display: table-cell;
    // vertical-align: middle;    
}

.titulo3 {    
    font-size: 35px;
    // color: #fff;
    margin: 0px;
    // text-align: center;
    // display: table-cell;
    // vertical-align: middle;
    // font-weight: bold;
}

.titulo4 {
    font-size: 30px;    
    margin: 0px;    
    display: table-cell;      
}

.titulo5 {
    font-size: 20px;
}

.tituloc {    
    font-size: 45px;
    color: #0061c2;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 2px;
}

.tituloSobre{
    font-size: 45px;
    // color: #03b7ff;
    // color: #0193fa;
    color: #fff;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.5s ease;
}

// .tituloSobre.scrolled {
//     color: #fff;
// }

.tituloSol2 {
    font-size: 45px;
    // color: #03b7ff;
    color: #fff;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 2px;   
}

.aplicaciones {
    background: url(../Img/icons222.png) -954px -570px;
    width: 130px;
    height: 130px;
    color: #fff;
}

.mantenimiento {
    background: url(../Img/icons333.png) -190px -190px;
    width: 130px;
    height: 130px;
    color: #fff;
}

.consultoria {
    background: url(../Img/icons333.png) -954px -572px;
    width: 130px;
    height: 130px;
    color: #fff;
}

.soluciones {
    background-color: #2d7d71;
    color: #fff;
}

.btnSoluciones {
    border-color: #fff;
    color: #fff;
}

.btnSoluciones:hover {
    background-color: #fff;
    color: #2d7d71;
    border-color: #fff;
}

.btnSoluciones:active {
    border-color: #3af0f4;
    color: #3af0f4;
}

.solucionesDos {
    background-color: #0193fa;
    color: #fff;
}

.labelSolDos {
    background-color: #fff;
    color: #0193fa;
}

.solucionesTres {
    background-color: #def4fc;
    color: #0193fa;
}

.appWeb {
    background:url(../Img/icons333.png) 0px -380px;
    width: 130px;
    height: 130px;
    color: #fff;
}

.appMov {
    background:url(../Img/icons333.png) 0px -572px;
    width: 130px;
    height: 130px;
    color: #fff;   
}

.webSite {
    background:url(../Img/icons222.png) -955px 1px;
    width: 130px;
    height: 130px;
    color: #fff; 
}

.solucionesInfo {
    background-color: #2d7d71;
    border: none;
    font-size: 0.8em;
}

.sobreNostros {
    background-color: #905de3;
    color: #fff;
}

.quienSomos {
    background:url(../Img/icons222.png) 130px 150px;
    width: 130px;
    height: 130px;
    color: #fff;
}

.vision {
    background:url(../Img/icons222.png) -380px -190px;
    width: 130px;
    height: 130px;
    color: #fff;   
}

.mision {
    background:url(../Img/icons222.png) -380px -570px;
    width: 130px;
    height: 130px;
    color: #fff;   
}

.tecnologia {
    background:url(../Img/icons222.png) -573px -574px;
    width: 130px;
    height: 130px;
    color: #fff;   
}

#email::placeholder,
#telefono::placeholder,
#mensaje::placeholder {
    color: #3ac0d4; 
} 

.contacto {
    background-color: #fff;
    color: #3ac0d4;
    border-color: #3ac0d4;
}

.contactoBtn:hover{
    background-color: #3ac0d4;
    color: #fff;
    border-color: #fff;
}

.contactoBtn:active {
    background-color: #3af0f4;
    color: #fff;
    border-color: #3af0f4;
}

.finalSeccion {
    background-color: #3ac0d4;
    color: #fff;
}

.finalInfo {
    border-top: 4px solid white;
    font-size: 0.8em;
}

.logoFinBlanco {
    width: 100%;
}

.listFinal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.linkFinal {
    color: #fff;    
}

.linkFinal:hover {
    color: #3af0f4;
    text-decoration: none;
    
}

.iconFinalRedes {
    font-size: 36px;
    color: #fff;
}

footer {
    background-color: #fff;
    color: #3ac0d4;
}

.box1{
    background-image: url(../Img/fondoWebAlt_lg.png);
    height: 100%;    
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
}

.box2{
    height: 40%;    
    background-image: url(../Img/fondo2.png);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-attachment: fixed;
}

.box3{
    height: 40%;
    background-image: url(../Img/fondo3.png);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: table;*/
    background-attachment: fixed;
}

.box4{
    height: 40%;
    background-image: url(../Img/fondo4-2.png);
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: table;*/
    background-attachment: fixed;
}

.ocultarlg {
    // visibility: hidden;
    display: none;
}

// #scroll-down {
//   width: 30px;
//   height: 50px;
//   border-radius: 30px;
//   border: 2px solid #fff;
//   position: absolute;
//   bottom: 50px;
//   left: calc(50% - 15px);
//   z-index: 9999;
//   cursor: pointer;
//   border-bottom: 2px solid #fff !important;
// }

// #scroll-down::after {
//   content: '';
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   background: #fff;
//   display: block;
//   position: absolute;
//   top: 5px;
//   left: 10px;
//   -webkit-animation: fade 2s infinite;
//   animation: fade 2s infinite;
// }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

// cuando es mayor a 1025
@media only screen and (min-width: 1025px) {
    .noMostrarMas1024 {
        display: none;
    }
}

// menor 1024
@media only screen and (max-width: 1024px) {
    .box1 {
        background-image: url(../Img/fondoDNmovil_lg.png);
            height: 100%;    
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
        background-attachment: fixed;
    }

    .ocultarMenor1024 {
        // visibility: hidden;
        display: none;
    }

    // .vista1024 {
    //     visibility: visible;
    // }
}

// cuando es mayor a 768
@media only screen and (min-width: 769px) {
    .ocultarGrande {
        display: none;
    }

    .noMostrarMas768 {
        display: none;
    }
}
//cuando es menor a 768
@media only screen and (max-width: 768px) {
    .box1 {
        background-image: url(../Img/fondoDNmovil_md.png);
            height: 100%;    
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
        background-attachment: fixed;
    }

    .box1, .box2, .box3, .box4 {
        background-attachment: scroll;
        // height: 70%;
    }

    .logoDevAnt {
        width: 100%;        
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .header .navbar {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
    }

    .togglerItem {
        text-align: center;
    }

    .barra {
        border-bottom: 1px solid white;
        color: #fff;
    }

    .titulo {
       // background-color: #009068;
       font-size: 40px;       
       text-align: center;
    }

    .titulo4 {
        font-size: 20px;
        
    }

    .titulo4F {
        font-size: 20px;        
        display: flex;
        justify-content: center;
    }

     .logoFinBlanco {
        width: 100%;
        vertical-align: middle;        
    }

    .iconFinalRedes {
        font-size: 20px;
        color: #fff;
    }

    .tituloc {
        color: #004085;
    }

    .tituloSobre {
        color: #fff;
    }
    .noMostrarMenor768 {
       display: none;
    }
}

/*Cuando la pantalla es mas de 576*/
@media only screen and (min-width: 576px) {
  .noMostrarMas576 {
    display: none;
  }

}

//cuando es menor a 576
@media only screen and (max-width: 576px) {    
    .box1 {
        background-image: url(../Img/fondoDNmovil2_sm.png);
            height: 100%;    
        // -webkit-background-size: cover;
        //      -o-background-size: cover;
        //         background-size: cover;
        background-position: center;
        background-repeat: no-repeat;    
        background-attachment: fixed;
    }

    body {
        font-size: 14px;
    }

    .noMostrarMenor576 {
        display: none;
    }

    .ocultarChico{
        display: none;
    }
    .logoBlancoMenu {
        width: 15%;
    }

    .box1, .box2, .box3, .box4 {
        background-attachment: scroll;
        // height: 70%;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .header .navbar {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
    }

    .togglerItem {
        text-align: center;
    }

    .barra {
        // background-color: rgba(255, 0, 0, 0.3);    
        border-bottom: 1px solid white;
        color: #fff;
    }

    .card-text {
        font-size: 14px;
    }

    .titulo {
       // background-color: #009068;
       font-size: 40px;       
       text-align: center;
    }
    
    .titulo2 {
        font-size: 35px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .titulo3 {
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .titulo4 {
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .titulo4F {
        font-size: 25px;        
        display: flex;
        justify-content: center;
    }

    .titulo5 {
        text-align: center;
        display: flex;
        justify-content: center;   
    }

    .tituloSobre{
        font-size: 40px;    
    }

    .tituloSol2 {
        font-size: 40px;      
    }

    .tituloc {    
        font-size: 40px;    
    }

    .logoDevAnt {
        width: 60%;        
    }

    .logoFinBlanco {
        width: 70%;
        float: right;
        
    }

    .listFinal {
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
    }

    .portCh {
        display: flex;
        justify-content: center;
    }

    .iconFinalRedes {
        font-size: 30px;
        color: #fff;
    }

    .finalInfo {
        border-top: 2px solid white;
        font-size: 0.8em;
    }

    .finalInfo1st {
        border-top: none;
        
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .noMostrar576768 {
    display: none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .noMostrar7691024 {
    display: none;
  }
}

.pth {
    padding-top: 7.5px;
}

.prh {
    padding-right: 7.5px;
}

.pbh {
    padding-bottom: 7.5px;
}

.plh {
    padding-left: 7.5px;
}

// .mth {
//     margin-top: 7.5px;
// }

// .mrh {
//     margin-right: 7.5px;
// }

// .mbh {
//     margin-bottom: 7.5px;
// }

// .mlh {
//     margin-left: 7.5px;
// }

.float1{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #2f4f4f;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

